<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>The ISO 3166-1 alpha-2 code you entered belongs to the country: <%= country %></p>
    <p>CURRENT POPULATION: <%= population %></p>
    <p>TODAY'S CONFIRMED COVID-19 CASES: <%= confirmed %></p>
    <p>TODAY'S DEATHS DUE TO COVID-19: <%= deaths %></p>
  </body>
</html>
